<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.os.operando.meteorite.sample">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TextInputActivity"></activity>
        <activity android:name="com.os.operando.meteorite.MeteoriteActivity" />
        <activity android:name="com.os.operando.meteorite.ScreenshotActivity" />

        <receiver
            android:name="com.os.operando.meteor.MeteorReceiver"
            android:enabled="true"
            android:exported="true" />

        <meta-data
            android:name="com.os.operando.meteorite.slackToken"
            android:value="xoxp-14571310961-14565817428-14565947796-41e6061fd3" />
    </application>

</manifest>
